# compiled output
/dist
/node_modules
/target

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/src/output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/src/output
/output
NUL
/src/version.ts
prisma/migrations/20230731090237_test/migration.sql
/src/user/user.controller.ts
/src/user/user.service.ts
/.vs/VSWorkspaceState.json
*.vsidx
/.vs/nm-skill-service/v17/.wsuo
/.vs/slnx.sqlite
/.vs/nm-skill-service/FileContentIndex/f9d1e02d-4a9c-4aa4-856c-0832f53afd96.vsidx
