version: '3.8'
services:
  dev-db:
    image: postgres:13
    ports:
      - 5435:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: competence-repository-db
      DB_ACTION: DEMO_SEED
    networks:
      - search
networks:
  search:
